body {
  background: skyblue;
  padding: 50px;
}

.modal-teste {
  margin: auto;
  background-color: white;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
}

#test {
  display: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

select {
  margin-right: 50px;
}

#saved, #results, #btn_voltar, #player_result {
  display: none;
}

#saved h2 {
  text-align: center;
  margin-top: 250px;
}

#saved h5 {
  text-align: center;
}

#btn-results, #btn_voltar { 
  position: fixed;
  top: 50px;
  left: 50px;
}


#results {
  width: 350px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
}

#results p {
  text-decoration: underline;
  cursor: pointer;
}

#info {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 50px;
}